<p id="notice"><%= notice %></p>

<h1>Orgings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orgings.each do |orging| %>
      <tr>
        <td><%= link_to 'Show', orging %></td>
        <td><%= link_to 'Edit', edit_orging_path(orging) %></td>
        <td><%= link_to 'Destroy', orging, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orging', new_orging_path %>
